
body {
	font-family: 'Oxygen', sans-serif;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

canvas {
	margin: 100px 50px;
}

#ballsCanvas {
	border: 1px black solid;
}

#graphDiv {
	width: 400px;
	height: 400px;
}