
body {
	font-family: 'Oxygen', sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

ul {
  padding: 0px;
  list-style: none;
  text-align: left;
}

label {
  display: block;
  text-align: left;
}

input {
  width: 200px;
}

p {
  text-align: left;
}

li.list {
  display: flex;
  justify-content: space-between;
}

div.list {
  align-self: flex-end;
}

button.list {
  width: 30px;
  height: 20px;

  margin: auto 5px;
}

img.buttonImg {
  width: 16px;
  height: 16px;
}